{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static "css/error.css" %}">
</head>

<body>
    <div class="container">
        <div class="header">
            <h1>404</h1>
            <h3>Page Not Found!!!</h3>
        </div>
        <img src="{% static "images/error.png" %}" alt="Not Found">
        <div class="footer">
            <p>We are sorry, the page you are requested could not be found. Please go back to the homepage!</p>
            <a href="javascript:history.back()"><button>GO BACK</button></a>
        </div>
        
    </div>
</body>

</html>